*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body{
    background-color: #f7f9fc;
    padding-top: 40px;
    align-items: center;
}

.counter {
    width:300px;
    height: 130px;
    background-color: rgb(39, 28, 104);
    align-items: center;
    text-align: center;
    margin-left: 40%;
    color:#fff;
    border-radius: 5px;
}
.counter h1{
    margin-top:5%;
    text-align: center;
    bottom: 5%;
    justify-content:space-between;
}
#counter {
    top: 2%;
    align-items: center;
    justify-content: space-between;
}
.btn-div .btn {
    width: 20%;
    height: 20%;
    background-color: bisque;
    margin-bottom:10% ;
    color:black;
}
.btn :hover {
    background-color: beige;
}